body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  border: none;
}

a.email,
a.phone {
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
