/* Header */
.header {
  padding-left: 215px;
  padding-right: 215px;
  border-bottom: 1px solid #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
}

.header__menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 333px;
}

.header__menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.header__icon {
  margin-right: 10px;
}

.nav__menu .nav__li:hover,
.nav__menu .nav__li:focus {
  color: #2196f3;
  cursor: pointer;
}

.nav__menu .nav__li a {
  color: #212121;
}

.header__email:hover,
.header__phone:hover {
  color: #2196f3;
}

.header__email:hover + svg path,
.header__phone:hover + svg path {
  fill: #2196f3;
}

/* Logo */

.logo a {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.span-logo {
  color: #2196f3;
}

/* nav_menu  */
.nav__menu {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 281px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__menu .nav__li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 1.14;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav__li {
  position: relative;
}

.nav__li:nth-child(1)::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -28px;
  background-color: #2196f3;
}
